/* KARTA ÖZEL OVERLAY DOSYASI */
&pinctrl {
    fdcan2_rx_pb5: fdcan2_rx_pb5 {
        pinmux = <STM32_PINMUX('B', 5, AF9)>;
    };
    fdcan2_tx_pb6: fdcan2_tx_pb6 {
        pinmux = <STM32_PINMUX('B', 6, AF9)>;
    };
};

&fdcan1 {
    pinctrl-0 = <&fdcan1_rx_pd0 &fdcan1_tx_pd1>;
    pinctrl-names = "default";
};

&fdcan2 {
    pinctrl-0 = <&fdcan2_rx_pb5 &fdcan2_tx_pb6>;
    pinctrl-names = "default";
};
