/*
 * Zephyr Devicetree Overlay for DEOS Main STM32 Gateway
 * Board: NUCLEO-H7A3ZI-Q
 */

/ {
    aliases {
        lora-uart = &lpuart1;
    };
};

/* CAN-FD Physical Pin Mapping */
&fdcan1 {
    pinctrl-0 = <&fdcan1_rx_pd0 &fdcan1_tx_pd1>;
    pinctrl-names = "default";
};



/* LoRa UART Physical Pin Mapping */
&lpuart1 {
    status = "okay";
    current-speed = <115200>;
};

/* LoRa AUX Physical Pin Mapping */
&lora_aux {
    gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
};
