/* ANA UYGULAMA OVERLAY DOSYASI (app.overlay) */
/ {
    chosen {
        zephyr,can-primary = &fdcan1;
    };
};

&fdcan1 {
    status = "okay";
    bus-speed = <500000>;
    bus-speed-data = <2000000>;
};
