/* ANA UYGULAMA OVERLAY DOSYASI (app.overlay) */
/ {
    aliases {
        deos-can = &fdcan1;  /* DEOS Omurgasi icin (CAN-FD) */
        daly-can = &fdcan2;  /* DALY BMS'ler icin (Classic CAN) */
    };
};

&fdcan1 {
    status = "okay";
    bus-speed = <500000>;
    bus-speed-data = <2000000>;
};

&fdcan2 {
    status = "okay";
    bus-speed = <250000>;
};
