/*
 * Zephyr Devicetree Overlay for DEOS Main STM32 Gateway
 */

/ {
    chosen {
        zephyr,can-primary = &fdcan1;
    };
    
    lora_module {
        compatible = "gpio-keys";
        lora_aux: lora_aux {
            label = "LoRa AUX Pin";
        };
    };
};

/* Enable Primary CAN (FDCAN1) */
&fdcan1 {
    status = "okay";
    bus-speed = <500000>;
    bus-speed-data = <2000000>;
};



