/*
 * ==============================================================================
 * ANA UYGULAMA OVERLAY DOSYASI (app.overlay)
 * ==============================================================================
 * Amacı: Bu dosya, uygulamanın donanımdan bağımsız "iskelet" yapısını kurar.
 * Hangi karta derlenirse derlensin her zaman geçerli olan ortak ayarları içerir.
 * Fiziksel pin atamaları BURADA YAPILMAZ! Pin atamaları 'boards/' klasöründeki
 * karta özel overlay dosyalarında yapılır.
 * ==============================================================================
 */

/ {
    chosen {
        zephyr,can-primary = &fdcan1;
    };
};

/* Enable Primary CAN (FDCAN1) */
&fdcan1 {
    status = "okay";
    bus-speed = <500000>;
    bus-speed-data = <2000000>;
};



